<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shaga.boardgameshelper">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DiceRollActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name=".EventListActivity"
            android:label="@string/title_event_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.shaga.boardgameshelper.MainActivity" />
        </activity>
        <activity
            android:name=".EventDetailActivity"
            android:label="@string/title_event_detail"
            android:parentActivityName=".EventListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.shaga.boardgameshelper.EventListActivity" />
        </activity>
        <activity
            android:name=".TemplatesActivity"
            android:label="@string/title_activity_templates"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.shaga.boardgameshelper.MainActivity" />
        </activity>
        <activity
            android:name=".SearchTemplatesActivity"
            android:label="@string/title_activity_search_templates"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.shaga.boardgameshelper.MainActivity" />
        </activity>
        <activity
            android:name=".SessionsActivity"
            android:label="@string/title_activity_sessions"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.shaga.boardgameshelper.MainActivity" />
        </activity>
        <activity
            android:name=".SingleSessionActivity"
            android:label="@string/title_activity_single_session"
            android:parentActivityName=".SessionsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.shaga.boardgameshelper.SessionsActivity" />
        </activity>
    </application>

</manifest>